<ion-view title="Sharing" class="album">
  <ion-content>
    <div class="bar bar-header row">
      <div class="col"><i class="icon ion-person"></i></div>
      <div class="col"><i class="icon ion-camera"></i></div>
      <div class="col"><i class="icon ion-images" ng-click="upload()"></i></div>
    </div>


    <div class="galleries">
      <h3>{{album.title}}</h3>
      <div class="row" ng-repeat="gallery in galleries" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < galleries.length">
          <img ng-src="{{galleries[$index].$value}}" />
        </div>
        <div class="col col-33" ng-if="$index+1 < galleries.length">
          <img ng-src="{{galleries[$index+1].$value}}" />
        </div>
        <div class="col col-33" ng-if="$index+2 < galleries.length">
          <img ng-src="{{galleries[$index+2].$value}}" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>