<ion-view title="Calendar" class="calendar">
  <ion-content>
    <div id="calendar"></div>
    <div class="list">

      <div class="item item-divider">
        Today
      </div>

      <a class="item">
        <span class="text-strong">Party with Tommy</span>
        <br/><span class="text-small">10:15 - 14:45</span>
      </a>

      <a class="item">
        <span class="text-strong">Burger King</span>
        <br/><span class="text-small">18:15</span>
      </a>
    </div>
  </ion-content>
</ion-view>