<ion-view title="Connexion" class="connexion">
  <ion-content class="no-bottom">
    <img ng-src="{{'img/logo/logo-white.png'}}" />
    <form novalidate class="connexion-form">
      <div class="list size-l">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.name">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item item-input" ng-show="registration">
          <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
        </label>
      </div>
      <p ng-show="errorMsg">{{errorMsg}}</p>

      <div class="submits">
        <button type="submit" class="btn btn-action size-l" ng-hide="registration" ng-click="login(user)">Connect</button>
        <button class="btn size-m" ng-show="registration" ng-click="setRegistration(false)">Cancel</button>
        <button type="submit" class="btn btn-action size-m" ng-show="registration" ng-click="register(user)">Register</button>
      </div>
    </form>
    <p class="registration-link"><a ng-hide="registration" ng-click="setRegistration(true)">Create an account</a></p>
  </ion-content>
</ion-view>