<ion-view title="Home" class="home">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Welcome</h1>
    <button class="button button-clear" data-ng-click="refresh()">
      <i class="icon ion-flag"></i>
    </button>
  </ion-header-bar>

  <ion-content>
    <img class="family-picture" src="img/family.png" />

    <div class="button-bar">
      <a class="button button-clear icon ion-chatboxes" ui-sref="conversations"></a>
      <a class="button button-clear icon ion-navigate" ui-sref="house-plan"></a>
      <a class="button button-clear icon ion-calendar"></a>
      <a class="button button-clear icon ion-share"></a>
      <a class="button button-clear icon ion-settings"></a>
    </div>

    <div class="change-status">
      <button class="button button-positive" ui-sref="status-change">
        Change my status
      </button>
    </div>

    <div class="list">
      <a class="item item-avatar" href="#" ng-repeat="user in users">
        <img data-ng-src="{{user.img}}" />
        <h2>{{user.name}}</h2>
        <p>{{user.status}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>