<ion-view title="Home" class="home">
  <ion-content>
    <img class="family-picture" src="img/family.png" />

    <div class="change-status">
      <button class="button button-positive" ui-sref="status-change">
        Change my status
      </button>
    </div>

    <div class="list">
      <a class="item item-avatar" href="#" ng-repeat="user in users">
        <img data-ng-src="{{user.img}}" />
        <h2>{{user.name}}</h2>
        <p>{{user.status}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>