<ion-view title="HouseChoice" class="house-choice">
  <ion-content class="no-bottom">
    <div class="top">
      <img ng-src="{{'img/logo/house-black.png'}}" />
    </div>

    <h4 class="list-title" ng-show="houses.length">
      Pick a house
    </h3>
    <div class="list">
      <div class="item item-divider" ng-repeat-start="house in houses" ng-click="setHouseSelected($index)">
        {{ house.name }}
      </div>
      <a class="item item-animate" href="#" ng-repeat-end ng-show="isHouseSelected($index)">
        <div class="house-details size-l">
          <i class="icon ion-location"> {{house.city}}</i><br />
          {{ house.members }} Family members<br />
          {{ house.friends }} Friends<br />
          <button class="btn btn-dark size-full" ng-click="connect(house.id)">Connect</button>
        </div>
      </a>
    </div>
    <div class="manage-house">
      <button class="btn btn-action size-l" ng-click="searchHouse()">Find a house</button>
      <button class="btn btn-action size-l" ng-click="createHouse()">Create new House</button>
    </div>
  </ion-content>
</ion-view>