<ion-view title="JoinRequests" class="join-requests">
  <ion-content>
    <h3>Join requests</h3>
    <div class="card" ng-repeat="request in requests">
      <div class="item item-divider">
        {{request.$value}}
      </div>
      <div class="item item-text-wrap">
        <div class="choice">
          <button class="button btn-action" ng-click="reject(request)">Refuse</button>
          <button class="button btn-action" ng-click="acceptFamily(request)">Family</button>
          <button class="button btn-action" ng-click="acceptFriend(request)">Friend</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>