<ion-view title="Menu" class="menu">
  <ion-content>
    <h3 class="title">Menu</h3>
    <div class="list">

      <a ui-sref="conversations" class="item item-icon-left" ui-sref="conversations">
        <i class="icon ion-chatbubbles"></i>
        Family discussion
      </a>

      <a class="item item-icon-left" ui-sref="taskList">
        <i class="icon ion-checkmark"></i>
        Task list
      </a>

      <a class="item item-icon-left" ui-sref="calendar">
        <i class="icon ion-calendar"></i>
        Calendar
      </a>

      <a class="item item-icon-left" ui-sref="sharing">
        <i class="icon ion-images"></i>
        Album
      </a>

      <a class="item item-icon-left" ui-sref="statusChange">
        <i class="icon ion-person"></i>
        Change status
      </a>

      <a class="item item-icon-left" ui-sref="houseChoice">
        <i class="icon ion-home"></i>
        Change house
      </a>

      <a class="item item-icon-left" ui-sref="settings">
        <i class="icon ion-gear-a"></i>
        House settings
      </a>

      <a class="item item-icon-left" ui-sref="connexion">
        <i class="icon ion-power"></i>
        Logout
      </a>

    </div>
  </ion-content>
</ion-view>