<ion-view title="Menu" class="menu">
  <ion-content>
    <div class="row">
      <div class="col"><img ng-src="{{'img/icons/icon-prof.png'}}" /></div>
      <div class="col"><img ng-src="{{'img/icons/icon-cal.png'}}" /></div>
      <div class="col"><a ui-sref="sharing"><img ng-src="{{'img/icons/icon-book.png'}}" /></a></div>
    </div>
    <div class="row">
      <div class="col"><img ng-src="{{'img/icons/icon-stats.png'}}" /></div>
      <div class="col"><a ui-sref="conversations"><img ng-src="{{'img/icons/icon-mess.png'}}" /></a></div>
      <div class="col"><img ng-src="{{'img/icons/icon-todo.png'}}" /></div>
    </div>
    <div class="row">
      <div class="col"><img ng-src="{{'img/icons/icon-settings.png'}}" /></div>
      <div class="col"><img ng-src="{{'img/icons/icon-loc.png'}}" /></div>
      <div class="col"><img ng-src="{{'img/icons/icon-cloud.png'}}" /></div>
    </div>
  </ion-content>
</ion-view>