<ion-view title="Sharing" class="sharing">
  <ion-content>
    <button ng-hide="isCreatingAlbum" class="button button-full button-royal" ng-click="creatingAlbum(true)">Create new album</button>
    <button ng-show="isCreatingAlbum" class="button button-full button-royal" ng-click="creatingAlbum(false)">Cancel</button>
    <div ng-show="isCreatingAlbum" class="list create-album size-l bg-green">
      <label class="item item-input">
        <input type="text" placeholder="Album title" ng-model="newalbum.title" />
      </label>
      <button class="btn btn-action size-full" ng-click="createAlbum()">Send</button>
    </div>    
    <div class="galleries">
      <div class="gallery" ng-repeat="gallery in galleries" ng-click="chooseAlbum(gallery)">
        <img ng-src="{{gallery.img}}" ></img>
        <p class="info date">{{ gallery.creationDate | date }}</p>
        <p class="info title">
          {{ gallery.title | date }} - {{ gallery.photos }} Photos, {{ gallery.videos }} Videos
        </p>
      </div>
  </div>
  </ion-content>
</ion-view>