<ion-view title="Change status" class="status-change">
  <ion-content>
    <div class="upper-body">
      <div class="user-profile-picture" ng-controller="ProfilePictureCtrl" >
        <img data-ng-src="{{user.img}}" ng-click="showPopup()"/>
      </div>

      <div class="item item-toggle busy-toggle">
        Busy
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="user.busy" ng-checked="user.busy" ng-click="toggleBusy()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>

    <div class="lower-body">
      <form class="user-status-information">
        <h3>Currently, I am</h3>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Doing something">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Somewhere">
          </label>
        </div>
        <button class="button button-positive">
          Change my status
        </button>
      </form>
    </div>
  </ion-content>
</ion-view>