<ion-view title="Menu" class="task-list">
  <ion-content>
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-click="filterTasks();">
        <i class="icon ion-funnel"></i>
        <span ng-hide="isFiltering">Filter</span><span ng-show="isFiltering">Done</span>
      </a>
      <a class="tab-item" ng-click="toggleAddTask()">
        <i class="icon ion-plus"></i>
        Add
      </a>
      <a class="tab-item" ng-click="editTasks()" ng-hide="editing">
        <i class="icon ion-edit"></i>
        Edit
      </a>
      <a class="tab-item" ng-click="finishEdit()" ng-show="editing">
        <i class="icon ion-checkmark"></i>
        Valid Edit
      </a>      
      <a class="tab-item" ng-click="removeTasks();">
        <i class="icon ion-trash-a"></i>
        Remove
      </a>
      <a class="tab-item">
        <i class="icon ion-checkmark" ng-click="taskDone()"></i>
        Done
      </a>
    </div>
    <div ng-show="isShowingAddTask" class="list add-task size-l bg-green">
      <label class="item item-input">
        <input type="text" placeholder="Task" ng-model="task.text" />
      </label>
      <p class="link-shiny" ng-hide="isAssigningUsers"><a ng-click="addUsersTasks(true)">Assign users</a></p>
      <p class="link-shiny" ng-show="isAssigningUsers"><a ng-click="addUsersTasks(false)">Cancel</a></p>
      <ul class="list add-users-task" ng-show="isAssigningUsers">
        <li class="item item-checkbox text-shiny" ng-repeat="user in family" ng-click="toggleUserTask(user.name)">
          <label class="checkbox">
            <input type="checkbox">
          </label>
          {{user.name}}
        </li>
      </ul>
      <button class="btn btn-action size-full" ng-click="addTask()">Send</button>
    </div>
    <ul class="list filter" ng-show="isFiltering">
      <li class="item item-checkbox" ng-repeat="user in family" ng-model="user.filtering" ng-click="filterUser(user.name)">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        {{user.name}}
      </li>
    </ul>    
    <ul class="list" ng-hide="isFiltering">
      <li class="item item-checkbox" ng-repeat-start="task in tasks | filter:usersFilter" ng-hide="editing">
         <label class="checkbox" ng-hide="editing">
           <input type="checkbox" ng-model="task.selected" />
         </label>
         <span ng-class="{done: task.done}">{{task.text}}</span>
         <br /><span class="text-bit-small" ng-repeat="user in task.users">{{user}} </span>
      </li>
      <li class="item item-input" ng-repeat-end ng-show="editing && task.selected">
         <input type="text" ng-model="task.text" />
      </li>
    </ul>
  </ion-content>
</ion-view>