.album {
  background-color: #0A71B5;
}

.album .bar{
  text-align: center;
}

.album .bar .icon{
  font-size: 2em;
  color: #333;
}

.album .galleries{
  padding-top: 44px;
}

.album .galleries .col{
  border-radius: 5px;
  overflow: hidden;
  height: 100px;
  width: 100px;
}

.album .galleries img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.album h3{
  text-align: center;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.album .galleries .row{
  margin-top: 0px;
  padding-top: 0px;
}


/**
.album .gallery{
	height: 150px !important; 
  display: inline-block;
	width: 150px;
	overflow: hidden;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.album .gallery img{
  min-width: 100%;
  min-height: 100%;
	margin: 0px;
}
**/
/**
.album .gallery{
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.album .gallery .a{
  display: inline-block;
  margin: 2px;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  direction: ltr;
}

.album .gallery .a:after{
  border: 1px solid rgba(0, 0, 0, .1);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


.album .gallery img{
  height: 72px;
  width: 72px;
}**/