.connexion {
  background-color: #00622D;
  margin: 0 auto;
}

.connexion ion-content{
  padding-top: 10%;
  vertical-align: middle;  
  text-align: center;
}

.connexion img{
  width: 60%;
}

.connexion .connexion-form .list{
  margin: 10px auto;
}

.connexion .connexion-form .list .item{
  margin-bottom: 10px;
  border-radius: 5px;
}

.connexion *::-webkit-input-placeholder {
    color: #000;
}
.connexion *:-moz-placeholder {
    /* FF 4-18 */
    color: #000;
}
.connexion *::-moz-placeholder {
    /* FF 19+ */
    color: #000;
}
.connexion *:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.connexion .registration-link {
  margin-top: 10px;
}

.connexion .registration-link a{
  cursor:pointer;
  color: #e99101;
}