ion-content {
  bottom:49px !important;
}

/** Buttons **/
.btn{
  padding: 5px 12px;
  border: none;
  border-radius: 10px;
  min-height: 47px;
  line-height: 42px;
}

.btn.btn-action{
  background-color: #f19300;
  color: #fff;
}
.btn.btn-action:active{
  background-color: #c17100;
}

.btn.btn-dark{
  background-color: #3D3C40;
  color: #fff;
}
.btn.btn-action:active{
  background-color: #3D3C40;
}

/** Background colors **/
.bg-green{
  background-color: #00622D;
}
.bg-gray{
  background-color: #c5c6c7;
}

/** Text **/
.text-small{
  font-size: 0.5em;
}
.text-bit-small{
  font-size: 0.8em;
}
.text-strong{
  font-weight: bold;
}
.text-error{
  color: red;
}

/** Width **/
.size-full{
  width: 100%;
}.size-l {
  width: 80%;
}
.size-m{
  width: 45%;
}
