.sharing {
  background-color: #0A71B5;
}

.sharing .button.button-full{
  margin: 0px;
}

.sharing .create-album{
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
}

.sharing .create-album .item{
  border: 1px solid #777;
  border-radius: 5px;
}

.sharing .create-album .btn{
  margin-top: 10px;
}

.sharing .gallery{
	max-height: 20% !important; 
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.sharing .gallery img{
	width: 100%;
	margin: 0px;
}

.sharing .gallery .info{
  position: absolute;
  background: #000;
  color: #fff;
  opacity: 0.7;
  font-style: italic;
  padding: 2px 10px 2px 10px;
}

.sharing .gallery .date{
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
}

.sharing .gallery .title{
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-right-radius: 5px;
}